In [7]:
# Hetrogenous
# Mutable
# Contains duplicates
# accessed by iterating over the list

List = [1, 2, 'hi', 4, 'hello', 6, 'hey']
print(List)
print(len(List))

[1, 2, 'hi', 4, 'hello', 6, 'hey']
7

In [6]:
# Multi Dimensional list

l1 = [['hey', 'hi'], ['hello']]
l1[1][0]

'hello'

In [16]:
l3=[]
for i in range(4):
    i=int(input("Enter element"))
    l3.append(i)
print(l3)

# insert an element explicitly
l3.insert(3, 12) # 3rd index pe 12 daldo

l3.extend([8, 'hi', 'hello']) #-> add to the end of list
print(l3)

Enter element3
Enter element8
Enter element9
Enter element1
[3, 8, 9, 1]
[3, 8, 9, 12, 1, 8, 'hi', 'hello']

In [17]:
l3.reverse()
print(l3)

['hello', 'hi', 8, 1, 12, 9, 8, 3]

#  remove or pop element

In [18]:
# remove(value) or pop(index) or pop()->removes last element
l3.remove(1)
print(l3)

l3.pop()
print(l3)

['hello', 'hi', 8, 12, 9, 8, 3]
['hello', 'hi', 8, 12, 9, 8]

In [2]:
#slicing

l4=['2','4','0','3','8','1']
l4[2:-3]
#l4[::-1]

['0']

In [25]:
s="aryan"
l=[]
for i in s:
    l.append(i)
print(l)

['a', 'r', 'y', 'a', 'n']

# List Comprehension

In [42]:
# print sqaure of odd numbers 
l3=[]
for i in range(51):
    if(i%2==1):
        l3.append(i**2)
#print(l3)
        
# converting the above code to list comprehension
l4=[i**2 for i in range(51) if(i%2==1)]
print(l4)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401]

In [43]:
# index(ele, beg, end) 

List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
print(List.index(2))

1

In [44]:
# count(element) :- This function counts the number of occurrences of elements in list.

List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
print(List.count(2))

4

In [46]:
# sum() -> Calculates the sum of all the elements of the List. 

List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
print(sum(List))

18

In [64]:
l9 = ["rohan", "amy", "sapna", "muhammad", "aakash", "raunak", "chinmoy"]
l8=sorted(l9,key=len) # in this we need to make a new list
print(l8)

# the key parameter takes a function as argument

l9.sort(key=len) # this makes changes inplace
print(l9)

['amy', 'rohan', 'sapna', 'aakash', 'raunak', 'chinmoy', 'muhammad']
['amy', 'rohan', 'sapna', 'aakash', 'raunak', 'chinmoy', 'muhammad']

# List Union

In [70]:
lst1 = [23, 15, 2, 14, 14, 16, 20 ,52]
lst2 = [2, 48, 15, 12, 26, 32, 47, 54]

f_list=list(lst1 + lst2)
print(f_list)

# or use the extend()...but this is inplace
lst1.extend(lst2) 
print(lst1)

# to use the union() and | operator...we need to convert the list to set first

[23, 15, 2, 14, 14, 16, 20, 52, 2, 48, 15, 12, 26, 32, 47, 54]
[23, 15, 2, 14, 14, 16, 20, 52, 2, 48, 15, 12, 26, 32, 47, 54]

# Intersection

In [73]:
lst1 = [4, 9, 1, 17, 11, 26, 28, 54, 69] 
lst2 = [9, 9, 74, 21, 45, 11, 63, 28, 26] 
l3=[]
for value in lst1:
      if(value in lst2):
            l3.append(value)
print(l3)


# to use the intersection() and '&' operator...we need to convert the list to set first

[9, 11, 26, 28]

# Count the Numbers in a list within a given range

In [6]:
lst1 = [10, 20, 30, 40, 50, 80, 90, 60, 70] 
count=0
for i in lst1:
    if i in range(4,44):
        count+=1
print(count)

4

# Program to print duplicates

In [12]:
lis = [1, 2, 1, 2, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9, 9]
x = []
y = []
for i in lis:
    if i not in x:
        x.append(i)
        
for i in x:
     if lis.count(i) > 1:
        y.append(i)
print(y)

[1, 2, 5, 9]

In [13]:
# Using Counter() function from collection module

from collections import Counter

l1 = [1,2,1,2,3,4,5,1,1,2,5,6,7,8,9,9]
d = Counter(l1)
print(d)

newlist = []
for item in d:
    if d[item]>1:
        newlist.append(i)
print(new_list)

Counter({1: 4, 2: 3, 5: 2, 9: 2, 3: 1, 4: 1, 6: 1, 7: 1, 8: 1})
[1, 2, 5, 9]

# Convert a List of Characters into a String

In [3]:
a = ['P', 'y', 't', 'h', 'o', 'n']

# Convert list of characters to string
s = ''.join(a)

print(s)

Python

In [10]:
a=[1,2,5,7,10]
b=[3,8,9,7]
print(a)

[1, 2, 5, 7, 10]

In [8]:
s=a+b
s2=set(s)
print(len(s2))

7

In [12]:
lst1 = [4, 9, 1, 17, 11, 26, 28, 54, 69] 
lst2 = [9, 9, 74, 21, 45, 11, 63, 28, 26] 
s1=set(lst1)
s2=set(lst2)

print(s1&s2)

{9, 26, 11, 28}